@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/corporate';
@import "utils/utils";

$nb-themes: nb-register-theme((
  //theme colors
  color-primary-100: #DFE3FA,
  color-primary-200: #C0C7F5,
  color-primary-300: #98A1E1,
  color-primary-400: #747DC4,
  color-primary-500: #48519D,
  color-primary-600: #343C87,
  color-primary-700: #242A71,
  color-primary-800: #161B5B,
  color-primary-900: #0D114B,
  color-primary-transparent-100: rgba(72, 81, 157, 0.08),
  color-primary-transparent-200: rgba(72, 81, 157, 0.16),
  color-primary-transparent-300: rgba(72, 81, 157, 0.24),
  color-primary-transparent-400: rgba(72, 81, 157, 0.32),
  color-primary-transparent-500: rgba(72, 81, 157, 0.4),
  color-primary-transparent-600: rgba(72, 81, 157, 0.48),
  color-success-100: #F1FBC9,
  color-success-200: #E1F895,
  color-success-300: #C5EA5E,
  color-success-400: #A5D536,
  color-success-500: #7cba01,
  color-success-600: #659F00,
  color-success-700: #508500,
  color-success-800: #3C6B00,
  color-success-900: #2F5900,
  color-success-transparent-100: rgba(124, 186, 1, 0.08),
  color-success-transparent-200: rgba(124, 186, 1, 0.16),
  color-success-transparent-300: rgba(124, 186, 1, 0.24),
  color-success-transparent-400: rgba(124, 186, 1, 0.32),
  color-success-transparent-500: rgba(124, 186, 1, 0.4),
  color-success-transparent-600: rgba(124, 186, 1, 0.48),
  color-info-100: #C8FAEA,
  color-info-200: #94F6DF,
  color-info-300: #5CE6D1,
  color-info-400: #33CDC3,
  color-info-500: #00AAAD,
  color-info-600: #008594,
  color-info-700: #00657C,
  color-info-800: #004864,
  color-info-900: #003553,
  color-info-transparent-100: rgba(0, 170, 173, 0.08),
  color-info-transparent-200: rgba(0, 170, 173, 0.16),
  color-info-transparent-300: rgba(0, 170, 173, 0.24),
  color-info-transparent-400: rgba(0, 170, 173, 0.32),
  color-info-transparent-500: rgba(0, 170, 173, 0.4),
  color-info-transparent-600: rgba(0, 170, 173, 0.48),
  color-warning-100: #FEF4CB,
  color-warning-200: #FEE798,
  color-warning-300: #FED565,
  color-warning-400: #FDC43F,
  color-warning-500: #FCA800,
  color-warning-600: #D88900,
  color-warning-700: #B56C00,
  color-warning-800: #925200,
  color-warning-900: #784000,
  color-warning-transparent-100: rgba(252, 168, 0, 0.08),
  color-warning-transparent-200: rgba(252, 168, 0, 0.16),
  color-warning-transparent-300: rgba(252, 168, 0, 0.24),
  color-warning-transparent-400: rgba(252, 168, 0, 0.32),
  color-warning-transparent-500: rgba(252, 168, 0, 0.4),
  color-warning-transparent-600: rgba(252, 168, 0, 0.48),
  color-danger-100: #FCE4D3,
  color-danger-200: #FAC3A9,
  color-danger-300: #F1997C,
  color-danger-400: #E47059,
  color-danger-500: #D33628,
  color-danger-600: #B51D1D,
  color-danger-700: #97141E,
  color-danger-800: #7A0C1E,
  color-danger-900: #65071E,
  color-danger-transparent-100: rgba(211, 54, 40, 0.08),
  color-danger-transparent-200: rgba(211, 54, 40, 0.16),
  color-danger-transparent-300: rgba(211, 54, 40, 0.24),
  color-danger-transparent-400: rgba(211, 54, 40, 0.32),
  color-danger-transparent-500: rgba(211, 54, 40, 0.4),
  color-danger-transparent-600: rgba(211, 54, 40, 0.48),
// scroll bar
  scrollbar-color:#cccccc,
  scrollbar-width:0.5rem,
  scrollbar-background-color:#fff,
  //font family
  font-family-primary:'Avenir Next',
  layout-background-color: #ebebeb
), corporate, corporate);


